* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', SansSerif, serif;
}

section {
	position: absolute;
	width: 100%;
	height: 100vh;
	display: flex;
	border: 2px solid #000000;
}

/* 去掉最右侧元素的边框 */
section .slide:last-child {
	border-right: none;
}

section .slide {
	position: relative;
	background: #07d1ff;
	height: 100%;
	flex: 1;
	border-right: 2px solid #000000;
	overflow: hidden;
	transition: 0.5s ease-in-out;
}

section .slide:hover {
	flex-grow: 5;
}

section .slide .content {
	position: absolute;
	bottom: 0;
	margin: 40px;
	padding: 30px;
	background: #000000;
	color: #ffffff;
	visibility: hidden;
	opacity: 0;
	transform: translateY(100px);
}

section .slide:hover .content {
	visibility: visible;
	opacity: 1;
	transition: 0.5s;
	transition-delay: 0.5s;
	transform: translateY(0);
}

section .slide:nth-child(1) {
	background: url("https://picsum.photos/1024/768?random=1") center center;
	background-size: cover;
}

section .slide:nth-child(2) {
	background: url("https://picsum.photos/1024/768?random=3") center center;
	background-size: cover;
}

section .slide:nth-child(3) {
	background: url("https://picsum.photos/1024/768?random=5") center center;
	background-size: cover;
}

section .slide:nth-child(4) {
	background: url("https://picsum.photos/1024/768?random=7") center center;
	background-size: cover;
}

section .slide:nth-child(5) {
	background: url("https://picsum.photos/1024/768?random=9") center center;
	background-size: cover;
}
